* {
  margin: 0;
  padding: 0;
}

/* elements */

body {
  font-family: system-ui, Geneva, Tahoma, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% -24px);
  padding: 14px 12px;
  border-bottom: 1px dotted #bbb;
  background-image: linear-gradient(to top, #eee, #fff);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 95%;
  max-width: 1200px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 51px;
  bottom: 84px;
  overflow: auto;
}

main section {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main section h3 {
  margin: 12px 6px;
}

main section p {
  font-size: 15px;
  margin: 6px 4px;
}

main section p span {
  color: #23395d;
  font-weight: bold;
}

fieldset {
  display: flex;
  border-width: 0px;
  font-size: 14px;
}

input {
  margin: 6px 12px;
  padding: 6px;
}

button {
  background-color: transparent;
  font-weight: bold;
  border: 1px solid #ccc;
  border-radius: 32px;
  text-align: center;
  cursor: pointer;
  padding: 8px 12px;
  margin: 5px;
}

button:focus {
  outline: none;
  box-shadow: 0 0 2px 1px #ff6b48 inset;
  opacity: 0.75;
}

footer {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-top: 1px dotted #bbb;
}

footer div {
  font-size: 14px;
  color: #4bc1c1;
}

footer img {
  margin-top: 10px;
  margin-bottom: 6px;
  width: 140px;
  height: auto;
}

a {
  text-decoration: underline;
  color: #192841;
}

a:hover {
  text-decoration: none;
  color: orangered;
}

/* wrappers */

.app-wrapper {
  position: relative;
  align-self: center;
  width: 100vw;
  height: 100vh;
}

.tabs-wrapper {
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.tab {
  width: 120px;
  padding: 10px;
  text-align: center;
}

.responsive-grid {
  display: grid;
  width: 90%;
  border: 1px dotted #bbb;
  border-radius: 8px;
  padding: 16px;
  grid-gap: 16px;
  justify-items: center;
  /* make grid responsive */
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  /* background-color: #eee; */
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
  color: #333;
  border: 1px solid #bbb;
  border-radius: 6px;
  max-width: 280px;
  background-color: #fff;
  background-image: linear-gradient(to bottom, #eee, #fff);
}

.search-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 8px;
  color: #333;
  border: 1px dotted #bbb;
  border-radius: 6px;
  background-color: #fff;
  max-width: 90%;
}

.radio-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* modifiers */
.txt-c {
  text-align: center;
}

.y-spaced {
  margin: 8px 0px;
}

@media only screen and (max-width: 600px) {
  .card-wrapper {
    width: 100%;
  }
}